html, body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif ;
    font-style: normal;
    font-weight: normal;
}

.breaker {
    background: #454545 none repeat scroll 0 0;
    border-top: 1px solid #585858;
    height: 3px;
    border-bottom: 1px solid #353535;
}

.main {
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: #dbdbdb;
}

.main .container {

    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    left: 61px;
    bottom: 0px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.main .content {
    background: #dbdbdb;
    height: 100%;
    width: 100%;
}

.splitter.vertical {
    height: 10px;
    cursor: row-resize;
}

.splitter.vertical.grabber {
    height: 100%;
    background: #a1a1a1;
    width: 70px;
    margin: 0 auto;
}

.splitter.vertical:hover .grabber {
    background: #91a18e;
}

.splitter.vertical:hover {
    background: #cbdbc6;
}


.splitter.horizontal {
    width: 10px;
    height: 100%;
    cursor: col-resize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    min-height: 88px;
}

.splitter.horizontal.grabber {
    flex: 0 1 70px;
    background: #a1a1a1;
    width: 100%;
}


.splitter.horizontal:hover .grabber {
    background: #91a18e;
}

.splitter.horizontal:hover {
    background: #cbdbc6;
}

.subnav {
    width: 60px;
    height: 100%;
    float: left;
    background: #454545;
    border-right: 1px solid #343434;
}

.subnav ul {
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.subnav ul li {

    height: 60px;
    background: #4b4b4b;
    border-top: 1px solid #676767;
    border-left: 1px solid #575757;
    line-height: 55px;
    font-size: 16pt;
    box-sizing: border-box;

    border-right: 1px solid #404040;
    border-bottom: 1px solid #3b3b3b;

    text-align: center;
    color: #c5c5c5;

}

.button {
    cursor:pointer;
}

.subnav ul li:hover {
    background: #565656;
}

.subnav .resizer {
    height: 10px;
    background: #353535;
    border: 0px;
    border-right: 1px solid #2f2f2f;
    background-image: url("../images/subnav_arrow_back.png");
    background-repeat: no-repeat;
    background-position: 94% 37%;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}

.example-enter {
    opacity: 1;
    background: #c6e8a5;
}

.example-enter.example-enter-active {
    opacity: 1;
    background: #fff;
    transition: background-color 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: background-color 800ms ease-out 1s;
}

.http.method {


    font-family: Arial,sans-serif;
    padding: 2px;
    font-size: 9pt;
    font-weight: 700;
}

.http.state {

    font-family: sans-serif;
    padding: 2px;
    font-size: 9pt;
    font-weight: 700;
}

.http.uri {
    font-family: sans-serif;
    font-size: 9pt;

}

.http.uri {
    font-size: 13pt;
    font-family: Arial, sans-serif;
    font-size: 9pt;

}

.http.label {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #c6c2c9;
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
}

.http.label:hover {
    background: #e4f4de;
    border: 1px solid #c4dac0;
}

.http.label.highlight {
    background: #e4f4de;
    border: 1px solid #c4dac0;
}


.subnav ul li:hover {
    background: #565656;
}

.subnav ul li img {
    margin-top: 12px;
    user-select: none;
    -ms-user-select: none;      /* IE 10+ */
    -moz-user-select: none;     /* Firefox all */
    -webkit-user-select: none;  /* Chrome all / Safari all */
}

.subnav ul li:hover img {
    -webkit-filter: brightness(118%);
    filter: brightness(118%);
}

.editing {
    font-size: 9pt;
}

.settings {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    left: 0;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 15px 15px;
    position: absolute;
    right: 0;
    top: 25%;
    width: 80%;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.settings label {
    color: #696969;
    display: block;
    font-size: 0.77778rem;
    font-weight: normal;
    line-height: 0;
    margin-top: 15px;
    text-align: left;
    position: relative;
    text-align: left;
}

.settings label input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #b5b5b5;
    box-sizing: border-box;
    color: #5e5e5e;
    display: inline-block;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
}

.settings .button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    display: inline-block;
    background: #dddddd;
    border: 1px solid #c4c4c4;
    color: #535353;
    font-size: 10pt;
    box-sizing: border-box;

}