.table {
    display: table !important;
    table-layout: fixed;
}

.row {
    display: table-row !important;
}


.cell {
    display: table-cell !important;
}

.grow.width {
    width: 100% !important;
}

.grow.height {
    height: 100% !important;
}

.grow.width.auto {
    width: auto;
}

.left {
    float: left;
}


.right {
    float: right;
}

.padding {
    padding: 10px;
}

.window .content table {
    flex: 1;

}

table th {
    border-top: 0px;
    border-right: 1px solid #a9a9a9 ;
    border-bottom: 1px solid #999;


    height: 15px;
    text-align: left;
    font-weight: 400;
    font-family: Arial;
    font-size: 8pt;
    color: #727272;

    top: 0;

}

table tbody {
    bottom: 0;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 32px;
    width: 100%;
}

table td {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    font-family: Arial;
    font-size: 9pt;

    white-space: nowrap;
}

table tbody tr:nth-child(odd) {

}

table tbody tr:nth-child(even) {

}

table>tbody>tr>th:last-child {
    border-right: 0px;
}

table>tbody>tr>td:last-child {
    border-right: 0px;
}