.tree {
    font-size: 9pt;
    color: #696969;
    margin-left: 5%;
}

.tree .incoming {
    margin-bottom: 0px;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}

.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.tree li div {
    background: #f4f4f4;
    border: 1px solid #c6c2c9;
    display: inline-block;
    box-sizing: border-box;
}

.tree li span {
    display:inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;

    text-decoration:none
}

.tree li.parent_li >div {
    cursor:pointer;
}


.tree li.parent_li >div:hover {
    background: #e4f4de;
    border: 1px solid #c4dac0;
}

.tree li.parent_li >ul >li div {
    cursor:pointer;
}

.tree li.parent_li >ul >li div:hover {
    background: #e4f4de;
    border: 1px solid #c4dac0;
}

.tree li.parent_li >div > i:hover {
    color: #91a18e;

}

.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:25px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;

}

.tree .incoming {
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;

}

.tree li.parent_li {
    padding-top: 0px;
}



.tree hr {
    border-top: 1px solid #3b3b3b;
    margin: 5px;
}

.message {
    display: none;
}
