.box {
    height: 100%;
    width: 100%;
    border: 1px solid #a7a6a6;
    background: #fff;
    position: relative;
    float: left;
    display:block;
    box-sizing: border-box;
    min-height: 88px;
}



.box .header {
    height: 30px;
    overflow: hidden;
    background: #f2f2f2;
    border-bottom: 1px solid #a7a6a6;
    border-top: 1px solid #ffffff;

    font-size: 10pt;
    color: #696969;
    line-height: 30px;

    overflow: hidden;
}

.box .header .border.left {
    border-right: 1px solid #cccccc;
}

.box .header .border.right {
    border-left: 1px solid #cccccc;
}

.box .header .item {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

.box .header .item.right:hover {
    background: #eaeaea;
    cursor: pointer;
}

.box .body {
    box-sizing: border-box;
    bottom: 0px;
    position: absolute;
    top: 32px;
    width: 100%;
}

/* with footer */
.box .body.min {
    bottom: 26px;
}

.box .body .column {
    position: relative;
    float: left;
    box-sizing: border-box;
    height: 100%;
    color: #696969;
    font-size: 9pt;
}

.box .body .column .header {
    background: #fff;
    color: #727272;
    font-family: Arial;
    font-size: 8pt;
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid #999;
}

.box .body .column .content {
    height: auto;
    display: table-row;
    position: absolute;
    top: 28px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    background: inherit;

}

.box .body .column .content.max {
    top: 0px !important;
}

.box .footer {
    height: 25px;
    width: 100%;
    background: #fcfcfc;
    border-top: 1px solid #dddddd;
    position: absolute;
    bottom: 0px;
}

.box .splitter.horizontal {
    height: 100%;
    background: #a9a9a9;
    width: 1px;
    border: 0px;
    min-height: inherit;
}

.properties .wrapper {
    height: 100%;
    width: 100%;
    white-space: normal;
    padding: 10px;
    padding-left: 12px;
    box-sizing: border-box;
}

.properties ul {
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;

}

.properties .value .name {
    min-width: 100px;
    height: 14px;
    display: block;
}

.properties ul li {
    display: inline-block;
    clear: left;
    float: left;
    margin-bottom: 1px;
    white-space: nowrap;
}

.properties ul li .properties.close {
    display: block;
    position: absolute;
    left: 4px;
    width: 15px;
    height: 20px;
    cursor: pointer;
    padding-top: 1px;
}

.properties.close:hover i {
    display: block;
    color: #cd3737;
}

.properties.close i {
    display: none;
}

.properties.add {
    cursor: copy;
    height: 10px;
    width: 200px;
}

.properties .title {
    float: left;
    padding-right: 5px;
    font-weight: 700;
    word-break: keep-all;
    white-space: nowrap;
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 9pt;
}

.properties .value {
    font-family: Consolas, Arial, sans-serif;
    font-size: 9pt;
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
}


.search.container {
    width: 100%;
    height: 52px;
    padding: 10px;
    box-sizing: border-box;
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #e3e3e3;

    position: static !important;
    left: 0px;
}

.search.border {
    width: 100%; height: 100%;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    background: #ffffff;
}

.search .icon.wrapper {
    height: 100%;
    float: left;
    line-height: 28px;
    box-sizing: border-box;
    width: 37px;
    padding-left: 11px;
    font-size: 8pt;
}

.search .input.wrapper {
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 10px;
}